<div fxFlex="row" fxLayoutAlign="center center" fxFlex="100">
    <mat-card >
      <mat-card-title>Müşteri Kaydı</mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="center center" >
          <mat-form-field class="example-full-width" fxFill>
            <mat-label>E-postanız</mat-label>
            <input matInput type="email" placeholder="Kullanıcı E-postası">
          </mat-form-field>
          <mat-form-field class="example-full-width" fxFill>
            <mat-label>Şifreniz</mat-label>
            <input matInput type="password" placeholder="Şifreniz">
          </mat-form-field>
          <mat-form-field class="example-full-width" fxFill>
            <mat-label>Şifre Tekrar</mat-label>
            <input matInput type="password" placeholder="Lütfen tekrar şifrenizi girin">
          </mat-form-field>
          <mat-form-field class="example-full-width" fxFill>
            <mat-label>Adınız</mat-label>
            <input matInput type="email" placeholder="Adınız">
          </mat-form-field>
          <mat-form-field class="example-full-width" fxFill>
            <mat-label>Soyadınız</mat-label>
            <input matInput type="email" placeholder="Soyadınız">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
          <button mat-raised-button color="primary" >Kayıt Ol</button>
      </mat-card-actions>
    </mat-card>
  </div>
  