<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-title>
                Ödeme bilgileri
            </mat-card-title>
            <mat-card-content>
                Bla Bla Bla
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-title>
               Teslimat adresi
            </mat-card-title>
            <mat-card-content>
                Bla Bla Bla
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-title>
                ürünler
            </mat-card-title>
            <mat-card-content>
                <div>bla bla bla</div>
                <div>Toplam: </div>
            </mat-card-content>
        </mat-card>
    </div>
    <button mat-raised-button (click)="giveOrder()"> Öde </button>
</div>