
  <div  fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutAlign="start start"  fxLayoutGap="5px">
    <mat-card fxFlex="20" fxFill fxLayout="column" fxLayoutAlign="center center" class="restaurants">
      <mat-card-title>En iyi restoranlar</mat-card-title>
      <mat-card-content>
        <p>Restoran 1</p>
        <p>Restoran 2</p>
        <p>Restoran 3</p>
        <p>Restoran 4</p>
        <p>Restoran 5</p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="60" fxFill fxLayout="column" fxLayoutAlign="center center"> Deneme</mat-card>
    <mat-card fxFlex="20" fxFill class="last-orders" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Son siparişler</mat-card-title>
      <mat-card-content>
        <p>Sipariş 1</p>
        <p>Sipariş 2</p>
        <p>Sipariş 3</p>
        <p>Sipariş 4</p>
        <p>Sipariş 5</p>
      </mat-card-content>
    </mat-card>
  </div>
